<h4> This NFC app has been created by:</h4>

<ul>
<li>Joe Villanueva</li>
<li>Mike Chau</li>
 <li>Jean-Nicholas Hould</li>
<li>Vaibhav Puri</li>
</ul>
<br/>
<h4> What does this app do?:</h4>

<p>We esesntially connect NFC and the Facebook Actions. A business creates and defines a coupon on our web app which is rendered when a user taps a NFC smart poster.</p>
<p>
In return for each coupon rendered, the business gets the user to "Post" on his or her wall about their business and "check-in" at the business location. 
</p>

<br/>

<h4>Thanks for testing our App!</h4>