<body class="container">

  <div class="row" style="margin-top: 40px;">
    <div class="span12" style="font-family">
      <h1><span style="font-family: 'Pacifico', 'Leckerli One';">Tapp.io</span></h1>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="span6">
      <div class="span2">
        <img src="https://twimg0-a.akamaihd.net/profile_images/2476685982/eightbit-b9f05c06-8ffb-43a5-9e84-fca17740c25f_reasonably_small.png" class="img-circle" height="128" width="128">
      </div>
      <div class="span3 well">
        <p><b>Joe Villanueva</b></p>
        <p>HTML5 CSS3 jQuery UX Rails</p>
        <p>Send Joe a shoutout on Twitter at <a href="http://www.twitter.com/joevillanueva22" target="blank">@joevillanueva22</a>, or check his Github account out <a href="https://github.com/joevillanueva" target="blank">here.</a></p>
      </div>    
    </div>
    <div class="span6">
      <div class="span2">
        <img src="https://twimg0-a.akamaihd.net/profile_images/1255273126/skyav_reasonably_small.png" class="img-circle" height="128" width="128">
      </div>
      <div class="span3 well">
        <p><b>Mike Chau</b></p>
        <p>Javascript Rails</p>
        <p>Send Mike a shoutout on Twitter at <a href="http://www.twitter.com/money_mikec" target="blank">@money_mikec</a>, or check his Github account out <a href="https://github.com/mikechau" target="blank">here.</a></p>
      </div>    
    </div>
  </div>
  <br>
  <br>  
  <div class="row">
    <div class="span6">
      <div class="span2">
        <img src="https://si0.twimg.com/profile_images/1541318371/Vaibhav_Puri_reasonably_small.jpg" class="img-circle" height="128" width="128">
      </div>
      <div class="span3 well">
        <p><b>Vaibhav Puri</b></p>
        <p>Rails<p>
        <p>Send Vaibhav a shoutout on Twitter at <a href="http://www.twitter.com/vaibpuri" target="blank">@vaibpuri</a>, or check his Github account out <a href="https://github.com/vaibhavpuri2208" target="blank">here.</a></p>
      </div>    
    </div>
    <div class="span6">
      <div class="span2">
        <img src="https://twimg0-a.akamaihd.net/profile_images/2718589957/fc0ff8457f90ad69caca7365a67e381b.jpeg" class="img-circle" height="128" width="128">
      </div>
      <div class="span3 well">
        <p><b>Nick Hould</b></p>
        <p>Rails</p>
        <p>Send Nick a shoutout on Twitter at <a href="http://www.twitter.com/nicholashould" target="blank">@nicholashould</a>, or check his Github account out <a href="https://github.com/nickhould" target="blank">here.</a></p>
      </div>    
    </div>
  </div>  
</body>