<div class="center hero-unit">
  <h1>Welcome to NFCApp</h1>
  <p>Create an account, order NFC chips, and start engaging your customers!</p>
	<div>
	  <% if current_user %>
	   <div>Signed in as <strong><%= current_user.name %></strong>!</br>
	    <%= link_to "Sign out", signout_path %></div>
	  <% else %>
	    <%= link_to "Sign in with Facebook", "/auth/facebook"%></br>
	  <% end %>

	  <%= link_to "Sign up as a business", new_business_path %>
	</div>
</div>

