<div class="top">
	<span style="text-align: center; display: block; margin: auto;">
		<h1>Oh hayyyyyyyyyyy!</h1>
		<br>
		<%= image_tag("http://www.studentsoftheworld.info/sites/animals/img/28051_puppy4.jpg" ) %>
		<br>
		<br>
		<h3>That coupon expired! I'm sowwy!</h3>
	</span>
</div>